*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Roboto";
}
body{
    width: 100%;
    height: 100vh;
    color: #333;
}
header{
    width: 100%;
    height: 10vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 70px;
    z-index: 999;
}
header ul{
    margin-left: 250px;
}
header ul, li, a{
    display: flex;
    gap: 25px;
    text-decoration: none;
    color: #333;
}
header ul a .active{
    color: blue;
    border-bottom: 2px solid blue;
    padding-bottom: 5px;
}
header ul a li{
    transition: 0.5s ease-in-out;
}
header ul a li:hover{
    color: blue;
    border-bottom: 2px solid blue;
    padding-bottom: 5px;
}
header .log{
    display: flex;
    gap: 20px;
    margin-left: 50px;
}
.log a{
    padding: 7px 25px;
    border: 1px solid blue;
    border-radius: 20px;
    color: blue;
    transition: 0.5s ease-in-out;
}
.log .log-2{
    background-color: blue;
    color: #fff;
    border: none;
}
.log .log-1:hover{
    background-color: blue;
    color: #fff;
    border: none;
    box-shadow: 0 0 5px #333;
}
.log .log-2:hover{
    background-color: #fff;
    border: 1px solid blue;
    color: blue;
    box-shadow: 0 0 5px #333;

}
header select{
    height: 30px;
    border-radius: 10px;
    padding: 0 10px;
}

.hero{
    width: 100%;
    height: 90vh;
    display: flex;
    align-items: center;
    padding: 0 100px;
}
.hero .text{
    width: 40%;
    height: auto;
    display: flex;
    flex-direction: column;
    gap: 10px;
    text-align: left;
}
.text h1{
    font-size: 60px;
}
.text h1 span{
    color: blue;
}
.text .buttons{
    display: flex;
    gap: 40px;
}
.buttons select{
    width: 150px;
    height: 35px;
    padding: 0 20px;
    border-radius: 5px;
    cursor: pointer;
}
.text .button{
    width: 130px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px 0;
    background-color: blue;
    color: #fff;
    border: none;
    border-radius: 20px;
    cursor: pointer;
}
.hero img{
    width: 40%;
    height: 80vh;
    margin-left: 150px;
}



/* form-sec */

.hero-2{
    width: 100%;
    height: 90vh;
    display: flex;
    justify-content: center;
    position: relative;
}
form{
    width: 70%;
    height: auto;
    margin-top: 30px;
    background-color: #0e0ed110;
    position: relative;
}
form h1{
    width: 100%;
    height: 50px;
    background-color: rgb(131, 35, 221);
    color: #fff;
    display: flex;
    align-items: center;
    padding-left: 20px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    font-weight: 900;
}
form .det{
    width: 100%;
    height: 30vh;
    padding: 15px 20px;
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
}
.det .details label{
    font-size: 20px;
    font-weight: 700;
}
.det .details input{
    font-size: 20px;
    font-weight: 700;
    width: 400px;
    height: 45px;
    background-color: #70cde437;
    border: none;
    outline: none;
    border-radius: 10px;
    padding-left: 10px;
    cursor: pointer;
}
input[type="submit"]{
    padding: 15px 20px;
    position: absolute;
    right: 50px;
    bottom: 20px;
    border: none;
    background-color: blue;
    color: #fff;
    font-weight: 500;
    font-size: 20px;
    cursor: pointer;
}
form p{
    margin-left: 20px;
    font-size: 20px;
    font-weight: 700;
    color: rgb(0, 255, 0);

}



/* responstivity*/

@media (max-width: 890px) {
    header ul{
    margin-left: 50px;
}
header ul, li, a{
    display: flex;
    gap: 25px;
    text-decoration: none;
    color: #333;
    font-size: 12px;
}
header ul a .active{
    color: blue;
    border-bottom: 2px solid blue;
    padding-bottom: 5px;
}
header ul a li{
    transition: 0.5s ease-in-out;
}
header ul a li:hover{
    color: blue;
    border-bottom: 2px solid blue;
    padding-bottom: 5px;
}
header .log{
    display: flex;
    gap: 10px;
    margin-left: 50px;
}
.log a{
    padding: 7px 15px;
    border: 1px solid blue;
    border-radius: 20px;
    color: blue;
    transition: 0.5s ease-in-out;
}
.log .log-2{
    background-color: blue;
    color: #fff;
    border: none;
}
.log .log-1:hover{
    background-color: blue;
    color: #fff;
    border: none;
    box-shadow: 0 0 5px #333;
}
.log .log-2:hover{
    background-color: #fff;
    border: 1px solid blue;
    color: blue;
    box-shadow: 0 0 5px #333;

}
header select{
    height: 30px;
    border-radius: 10px;
    padding: 0 5px;
}
.hero{
    width: 100%;
    height: 90vh;
    display: flex;
    align-items: center;
    padding: 0 100px;
}
.hero .text{
    width: 40%;
    height: auto;
    display: flex;
    flex-direction: column;
    gap: 10px;
    text-align: left;
}
.text h1{
    font-size: 40px;
}
.text p{
    font-size: 12px;
}
.text h4{
    font-size: 13px;
}
.text h1 span{
    color: blue;
}
.text .buttons{
    display: flex;
    gap: 20px;
}
.buttons select{
    width: 150px;
    height: 30px;
    padding: 0 10px;
    border-radius: 5px;
    cursor: pointer;
}
.text .button{
    width: 130px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px 0;
    background-color: blue;
    color: #fff;
    border: none;
    border-radius: 20px;
    cursor: pointer;
}
.hero img{
    width: 40%;
    height: 70vh;
    margin-left: 150px;
}
.hero-2{
    width: 100%;
    height: 90vh;
    display: flex;
    justify-content: center;
    position: relative;
}
form{
    width: 70%;
    height: auto;
    margin-top: 30px;
    background-color: #0e0ed110;
    position: relative;
}
form h1{
    width: 100%;
    height: 50px;
    background-color: rgb(131, 35, 221);
    color: #fff;
    display: flex;
    align-items: center;
    padding-left: 20px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    font-weight: 900;
}
form .det{
    width: 100%;
    height: auto;
    padding: 15px 20px;
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
}
.det .details label{
    font-size: 20px;
    font-weight: 700;
}
.det .details input{
    font-size: 20px;
    font-weight: 700;
    width: 250px;
    height: 45px;
    background-color: #70cde437;
    border: none;
    outline: none;
    border-radius: 10px;
    padding-left: 10px;
    cursor: pointer;
}
input[type="submit"]{
    padding: 15px 20px;
    position: absolute;
    right: 50px;
    bottom: 20px;
    border: none;
    background-color: blue;
    color: #fff;
    font-weight: 500;
    font-size: 20px;
    cursor: pointer;
}
form p{
    margin-left: 20px;
    font-size: 20px;
    font-weight: 700;
    color: rgb(0, 255, 0);

}

}


@media (max-width: 590px) {
header{
    width: 100%;
    height: 10vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 70px;
    z-index: 999;
}
header ul{
    margin-left: 50px;
}
header ul, li, a{
    display: flex;
    gap: 25px;
    text-decoration: none;
    color: #333;
    font-size: 12px;
    display: none;
}
header ul a .active{
    color: blue;
    border-bottom: 2px solid blue;
    padding-bottom: 5px;
}
header ul a li{
    transition: 0.5s ease-in-out;
}
header ul a li:hover{
    color: blue;
    border-bottom: 2px solid blue;
    padding-bottom: 5px;
}
header .log{
    display: flex;
    gap: 10px;
    margin-left: 50px;
}
.log a{
    padding: 7px 15px;
    border: 1px solid blue;
    border-radius: 20px;
    color: blue;
    transition: 0.5s ease-in-out;
}
.log .log-2{
    background-color: blue;
    color: #fff;
    border: none;
}
.log .log-1:hover{
    background-color: blue;
    color: #fff;
    border: none;
    box-shadow: 0 0 5px #333;
}
.log .log-2:hover{
    background-color: #fff;
    border: 1px solid blue;
    color: blue;
    box-shadow: 0 0 5px #333;

}
header select{
    height: 30px;
    border-radius: 10px;
    padding: 0 5px;
}
.hero{
    width: 100%;
    height: 90vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0 20px;
}
.hero .text{
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    gap: 10px;
    text-align: center;
    margin-top: 40px;
}
.text h1{
    font-size: 40px;
}
.text p{
    font-size: 12px;
}
.text h4{
    font-size: 13px;
}
.text h1 span{
    color: blue;
}
.text .buttons{
    display: flex;
    gap: 20px;
    margin: 0 auto;
}
.buttons select{
    width: 150px;
    height: 30px;
    padding: 0 10px;
    border-radius: 5px;
    cursor: pointer;
}
.text .button{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px 0;
    background-color: blue;
    color: #fff;
    border: none;
    border-radius: 20px;
    cursor: pointer;
    font-size: 20px;
}
.hero img{
    width: 350px;
    height: 70vh;
    display: flex;
    margin: 0 auto;
}
.hero-2{
    width: 100%;
    height: 90vh;
    display: flex;
    justify-content: center;
    position: relative;
}
form{
    width: 70%;
    height: auto;
    margin-top: 10px;
    background-color: #0e0ed110;
    position: relative;
}
form h1{
    width: 100%;
    height: 50px;
    background-color: rgb(131, 35, 221);
    color: #fff;
    display: flex;
    align-items: center;
    padding-left: 20px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    font-weight: 900;
}
form .det{
    width: 100%;
    height: auto;
    padding: 15px 20px;
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
}
.det .details label{
    font-size: 20px;
    font-weight: 700;
}
.det .details input{
    font-size: 20px;
    font-weight: 700;
    width: 250px;
    height: 45px;
    background-color: #70cde437;
    border: none;
    outline: none;
    border-radius: 10px;
    padding-left: 10px;
    cursor: pointer;
}
input[type="submit"]{
    padding: 15px 20px;
    position: absolute;
    right: 50px;
    bottom: 20px;
    border: none;
    background-color: blue;
    color: #fff;
    font-weight: 500;
    font-size: 20px;
    cursor: pointer;
}
form p{
    margin-left: 20px;
    font-size: 20px;
    font-weight: 700;
    color: rgb(0, 255, 0);

}

}